<h1>Dashboard#show</h1>
<p>Find me in app/views/dashboard/show.html.erb</p>
<% if user_signed_in? %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>
<% end %>